<div
class="a_p_p_HomePod0"
>
    <!-- <button
    [ngStyle]=free.button.style
    (click)="free.button.click($event)"
    class="a_p_p_HomePod0Option0 a_p_p_SpecificOption"
    >
        <h3
        [ngStyle]=free.text.style
        >Michael is Available</h3>
    </button>

    <button
    [ngStyle]=busy.button.style
    (click)="busy.button.click($event)"
    class="a_p_p_HomePod0Option1 a_p_p_SpecificOption"
    >
        <h3
        [ngStyle]=busy.text.style
        >Michael is Busy</h3>
    </button>

    <button
    [ngStyle]=pastTime.button.style
    (click)="pastTime.button.click($event)"
    class="a_p_p_HomePod0Option2 a_p_p_SpecificOption"
    >
        <h3
        [ngStyle]=pastTime.text.style
        >Michael is on his pasttime</h3>
    </button> -->

    <div
    #homeMap
    class="a_p_p_HomePod0Map"
    ></div>
    <h1 *ngIf="ryber.googleMaps.eggsCollected !== 3">Eggs Collected : {{ryber.googleMaps.eggsCollected}}</h1>
    <h1 *ngIf="ryber.googleMaps.eggsCollected === 3">You Have Won the Game</h1>
    <button
    (click)="instruct.click($event)"
    class="a_p_p_HomePod0Instruct">Instrcutions</button>
</div>
