@use "sass:map";



// @import "../node_modules/primeng/resources/themes/saga-blue/theme.css";
// @import "../node_modules/primeng/resources/primeng.min.css";
// @import "../node_modules/primeicons/primeicons.css";
@import "assets/styles/util";
@import "assets/styles/fonts";

:root{
    --color0:#90EE90;
    --blogWidth0:40vw;
    --blogMaxHeight0:353px;
    --blogMaxWidth0:850px;
}



@function my_prod($step){
    $type: prod;
    $prod: (0:1s,1:all 3s);
    $dev: (0:0s,1:none);
    $answer: "";
    @if $type == prod {
        $answer: map.get($prod,$step);

    }
    @else if $type == dev {
        $answer: map.get($dev,$step);

    }
    @return $answer;
}



.a_p_p_{
    &Specific{
        &0{
            // ...
        }

        &Option{
            height:150px;
            // width: 350px;
            flex: 0 0 23%;
            margin:20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
        }

    }

    &Intro{
        &View{
            @include view;
            padding:40px 0;
            font-size: 9px;

            * {
                margin: 20px 0 0 0;
            }
            h1{
                font-size:5em;
                @include tac;
            }

            h2{
                font-size:4em;
                @include tac;
            }

            ul {
                font-size:3em;
                margin:10px 0 0 0;
            }

            button{
                font-size:6em;
                border-radius: 30px;
                padding:20px 100px;
                background:var(--radial-bg-blue)
            }


        }
    }

    &Home{
        &View{
            display: flex;
            justify-content:center;
            height: 100vh;
            width: 100vw;
            position: absolute;


        }
        &Pod0{

            display: flex;
            flex-wrap: wrap;
            justify-content:center;
            width: 100%;

            & *{
                // color:white;
            }

            &Instruct{
                background: var(--radial-bg-green);
                margin:0 100px 0 100px;
                padding:0 100px;
                border-radius: 30px;
                font-size:36px;
            }

            &Map{
                background: var(--radial-bg-skyblue);
                margin:30px 0 0 0 ;
                height:600px;
                flex : 0 0 90%;
            }
        }
    }
}



